{% extends 'base.html' %}
{% block content %}

<div class="card p-3 m-3" style="width: 50%;border: none;">
    {% if profile is none %}
    <p class="text-center">Sorry no result found</p>
    {% else %}
    <p class="text-center">Search Results</p>
    {% for x in profile %}
    <a href="{% url 'profile' x.user.id %}">
    <div class="card" style="width: 95%; margin: 5px;">    
        <table style="margin: 10px;">
            <thead>
              <tr>
                <th scope="col" width="55px"> <img src="{{ x.profile_pic.url }}" width="30px" style="border-radius: 50px;"></th>
                <th scope="col">@ {{x.user}}</th>
                <th scope="col" width="65px">
                    <button class="btn btn-outline-secondary btn-sm">follow</button>
                </th>
              </tr>
            </thead>
        </table>
    </div>
    </a>
    {% endfor %}
    {% endif %}
</div>


{% endblock %}