{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="card" style="width: 60%;left: 20%; padding: 10px;margin: 50px;">
    <h4>Sign Up</h1>
    <div class="card" style="width:40%; padding: 20px;border: none;">
        <img src="{% static 'images/login pic-crop.jpg' %}">
    </div>
    <div class="card m-3" style="width: 45%;left: 40%; padding: 10px;bottom: 350px;border: none;">
        <div class="mb-3">
            <form action="#" method="POST">
                {% csrf_token %}
                {% for x in messages %}
                <p style="color: red;">*{{x}}</p>
                {% endfor %}            
            <label for="exampleFormControlInput2" class="form-label">username</label>
            <input type="text"  name="username" class="form-control" id="exampleFormControlInput2" placeholder="username">
            
            <label for="exampleFormControlInput3" class="form-label">password</label>
            <input type="password" name="password1" class="form-control" id="exampleFormControlInput3" placeholder="password">

            <button class="btn btn-sm btn-primary m-3" type="submit" style="margin: 10px;">Sign in</button>
            </form>
            <p>New here? <a href="{% url 'signup' %}">signup</a></p>
        </div>
    </div>
</div>



{% endblock %}